.features {
  padding: 100px 0;
  background: url("../../img/backgrounds/features-bg-1.png") 12% 0 no-repeat,
  url("../../img/backgrounds/features-bg-2.png") 100% 100% no-repeat,
  $secondary;
}
.features__title {
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  text-align: center;
  max-width: 65%;
  margin: 0 auto;
  margin-bottom: 100px;
}
.features__container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  justify-content: space-between;
  .container__content {
    max-width: 410px;
    margin-right: 24px;
  }
  &:nth-child(3) {
    padding: 0 15px 0 0;
    margin: 0 auto 0 0;
  }
  &:not(:last-child) {
    margin-bottom: 120px;
  }
}
@media (max-width: 1023px) {
  .features__title {
    font-size: 30px;
    max-width: 90%;
  }
}
@media (max-width: 767px) {
  .features__container {
    padding: 0 15px;
    .container__content {
      margin-right: 0;
    }
    &:nth-child(3) {
      .container__content {
        padding-left: 15px;
      }
    }
  }
}