.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.menu-btn__burger {
  width: 40px;
  height: 4px;
  transition: all .5s ease-in-out;
  background-color: #FFFFFF;
  border-radius: 4px;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  position: absolute;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #FFFFFF;
  transition: all .5s ease-in-out;
  border-radius: 4px;
}
.menu-btn__burger::before {
  transform: translate(0, -13px);
}
.menu-btn__burger::after {
  transform: translate(0, 13px);
}
.menu-btn._open .menu-btn__burger {
  transform: translate(-50px, 0);
  background-color: transparent;
  box-shadow: none;
}
.menu-btn._open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn._open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}